/* Yleiset tyylit */
html, body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--color-primary);
  color: var(--color-header-text);
  padding: var(--spacing-large);
  text-align: center;
}

main {
  padding: var(--spacing-xlarge);
  flex: 1;
}

h2 {
  color: var(--color-primary);
}

button {
  background-color: var(--color-primary);
  color: white;
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--font-size-base);
  border-radius: var(--border-radius);
  transition: background-color var(--transition-speed) ease;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-secondary);
}

footer {
  background-color: var(--color-footer);
  padding: var(--spacing-medium);
  text-align: center;
  font-size: 0.9rem;
}
